<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
        init-method="init"
        destroy-method="close"
        p:maxActive="16">
        <property name="url">
            <bean class="me.chyxion.tigon.mybatis.SqliteUrlFactory" factory-method="url" />
        </property>
    </bean>
</beans>
